/*
 1ºDAM B - Daniel Brito Negrín
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 700px;
    border-top: 2px solid black;
}

.main-container h1 {
    height: 13%;
    justify-items: center;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(49, 48, 48); 
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.container {
    display: flow-root;
    height: 80%;
    width: 100%;
}

.contacto {
    float: left;
    width: 50%;
    height: 100%;
    padding: 3%;
}

.contacto h2 {
    font-size: 3rem;
    color: rgb(49, 48, 48);
}

.contacto h4 {
    font-size: 1.5rem;
    color: rgba(49, 48, 48, 0.8);
    font-style: italic;
    margin: 10px 0px;
}

.contacto h3 {
    color: rgb(49, 48, 48); 
    margin-top: 15px;
    font-size: 1.2rem;
}

.redes {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 40%;
}

.logo-redes {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 35%;
}

.twitter {
    position: absolute;
    width: 5%;
    left: 43%;
    top: -25%;
}

.whatsapp {
    position: absolute;
    width: 5%;
    left: 32%;
    top: 3%;
}

.instagram {
    position: absolute;
    width: 5%;
    left: 54%;
    top: 3%;
}

.telegram {
    position: absolute;
    width: 5%;
    left: 27%;
    top: 40%;
}

.facebook {
    position: absolute;
    width: 5%;
    left: 59%;
    top: 40%;
}

.formulario {
    float: right;
    width: 50%;
    height: 100%;  
    padding: 3%; 
}

input {
    width: 90%;
    height: 50px;
    margin: 15px 0px;
}

select {
    width: 90%;
    height: 50px;
    margin: 15px 0px;
}

.tema {
    padding-left: 5px;
    color:rgba(49, 48, 48, 0.7);
    font-size: 1.2rem;
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 100px;
    margin: 15px 0px;
    padding-left: 5px;
    color:rgba(49, 48, 48, 0.7);
    font-size: 1.2rem;
    font-weight: bold;
}

.condiciones {
    width: 5%;
    height: 15px;
}

::placeholder {
    padding-left: 5px;
    color:rgba(49, 48, 48, 0.7);
    font-size: 1.2rem;
    font-weight: bold;
}

.condiciones a {
    text-decoration: underline;
}

.condicion {
    font-size: 1.2rem;
    font-weight: bold;
}

.enviar {
    background-color: rgb(49, 48, 48);
    color: white;
    font-size: 1.25rem;
    border-radius: 20px;
    width: 25%;
    float: right;
}

.enviar:hover {
    color: rgb(49, 48, 48);
    background-color: lightgray;
}